body {
  font-family: Arial, sans-serif;
  background: #1e1e2f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #6272a4;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.login-box h2 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font:
    200 bold 24px League Gothic,
    sans-serif;
}

.login-box input,
.login-box select,
.login-box button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}

button {
  background: #0a9729;
  color: white;
  border: none;
  cursor: pointer;
}

#error {
  color: red;
  text-align: center;
}
